* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

@keyframes rotate {
  100% {
    background-position: 25% 50%;
  }
}

body {
  display: grid;
  place-items: center;
  margin: 0;
  padding: 0 24px;
  background-image: url("../img/stacked-waves-haikei.svg");
  background-size: cover;
  font-family: "Euclid Circular A";
  color: #000;
  animation: rotate 4s infinite alternate linear;
}

.card {
  /* Removed fixed positioning */
  width: 90%;
  margin: 0 auto;
  padding: 70px 30px 44px;
  border-radius: 1.25rem;
  background: #ffffff;
  text-align: center;
}

.card > img {
  width: 160px;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.card > h2 {
  font-size: 36px;
  font-weight: 600;
  margin: 0 0 6px;
}

.card > h3 {
  color: rgba(0, 0, 0, 0.38);
  margin: 0 0 30px;
  font-weight: 500;
  font-size: 1rem;
}

.card-form {
  display: grid;
  gap: 20px;
  place-items: center;
  width: 100%;
  margin: 0;
}

.card-form > input,
.card-form > button {
  height: 56px;
  width: 100%;
  outline: none;
  padding: 0;
  border-radius: 10px;
  font-family: inherit;
}

.card-form > input {
  background: #eeeeee;
  border: 0;
  font-size: 18px;
  padding: 0;
  text-align: center;
}

.card-form > button {
  cursor: pointer;
  height: 56px;
  background: #685aff;
  color: #f9f9f9;
  border: 0;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.card-form > a {
  color: #685aff;
  font-size: 1rem;
  text-align: left;
  text-decoration: none;
}

/* Media Queries */
@media (max-width: 680px) {
  .card {
    width: 90%;
    padding-top: 140px;
  }
}

@media (max-width: 500px) {
  .card {
    padding: 50px 20px; /* Adjusted for better visual */
  }
}
